CRON_SECRET=
BLOB_READ_WRITE_TOKEN=
CLERK_SECRET_KEY=
CLICKUP_API_TOKEN=
CLICKUP_FOLDER_ID=
CLICKUP_BASE_URL=
DATABASE_URL=
GITLAB_BASE_URL=
GITLAB_GROUP_ID=
GITLAB_PERSONAL_ACCESS_TOKEN=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=
NODE_ENV=